CMSConsoleClient/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICommonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_CheckForNewVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForNewVersion" />
  </wsdl:message>
  <wsdl:message name="ICommonService_CheckForNewVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForNewVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetFileNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileNames" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetFileNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetFileContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContent" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetFileContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContentResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="CheckForNewVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/CheckForNewVersion" message="tns:ICommonService_CheckForNewVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/CheckForNewVersionResponse" message="tns:ICommonService_CheckForNewVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetFileNames" message="tns:ICommonService_GetFileNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetFileNamesResponse" message="tns:ICommonService_GetFileNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetFileContent" message="tns:ICommonService_GetFileContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetFileContentResponse" message="tns:ICommonService_GetFileContent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICommonService" type="tns:ICommonService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICommonService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckForNewVersion">
      <soap12:operation soapAction="http://tempuri.org/ICommonService/CheckForNewVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileNames">
      <soap12:operation soapAction="http://tempuri.org/ICommonService/GetFileNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <soap12:operation soapAction="http://tempuri.org/ICommonService/GetFileContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="NetTcpBinding_ICommonService" binding="tns:NetTcpBinding_ICommonService">
      <soap12:address location="net.tcp://dawid:8080/WCFService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://dawid:8080/WCFService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>